[Desktop Entry]
Exec=amdcccle
Name=ATI Catalyst Control Center
Name[de]=ATI Catalyst Control Center
Comment=ATI graphics adapter settings
Comment[de]=ATI grafics adapter settings
Comment[pl]=Ustawienia karty graficznej ATI
Terminal=false
Icon=ccc_large.xpm
Type=Application
Categories=Qt;Settings;
Encoding=UTF-8
# vi: encoding=utf-8
